aiohttp==3.6.2
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Django==3.1.9
gevent==20.5.0
greenlet==0.4.15
grequests==0.6.0
h11==0.8.1
h2==3.2.0
hpack==3.0.0
http3==0.6.7
hyperframe==5.2.0
idna==2.9
instaloader==4.4.2
multidict==4.7.5
pycparser==2.20
pytz==2020.1
requests==2.23.0
requests-async==0.6.2
rfc3986==1.4.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.9
yarl==1.4.2
