{% extends 'base.html' %}
{% load static %}

{% block content %}
    {#    <form action="{% url 'hashtag' %}" method="get">#}
    {#        <div class="form-group">#}
    {##}
    {#            <label for="inputHashtag">Hashtag</label>#}
    {#            <input type="text" class="form-control" id="inputHashtag" name="hashtag" placeholder="напишите хэштег">#}
    {#        </div>#}
    {##}
    {#        <button type="submit" class="btn btn-primary">Submit</button>#}
    {#    </form>#}
    {#    <div>#}
    {#        {% if count_posts %}#}
    {#            Найдено {{ count_posts }} постов#}
    {#            <br>#}
    {#            <form action="">#}
    {#                <input type="submit" name="makeout" value="Разобрать" class="btn btn-primary">#}
    {#            </form>#}
    {#        {% endif %}#}
    {#    </div>#}

    <div>
    <h5>{{ ip }}</h5>
    <h5>Проверено: {{ check }}</h5>
    <h5>Всего: {{ all}}</h5>
    </div>
    <div class="row">
        <div class="col-md-2">
            <form action="{% url 'detailcheck' %}">
                <input type="text" name="hashtag" value="{{ hashtag }}" style="display:none;">
                <input type="submit" name="submit" value="Детальная проверка" class="btn btn-secondary">

            </form>
        </div>
        <div class="col-md-2">
            <form action="{% url 'parse' %}">
                <input type="text" name="hashtag" value="{{ hashtag }}" style="display:none;">
                <input type="submit" name="submit" value="Разобрать" class="btn btn-secondary">
            </form>
        </div>
{#        <div class="col-md-2">#}
{#            <form action="{% url 'refresh' %}">#}
{#                <input type="text" name="hashtag" value="{{ hashtag }}" style="display:none;">#}
{#                <input type="submit" name="submit" value="Обновить" class="btn btn-secondary">#}
{#            </form>#}
{#        </div>#}

    </div>


    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User ID</th>
            <th scope="col">Ник (username)</th>
            <th scope="col">Дежурный ник (username)</th>
            <th scope="col">Связан ли?</th>
            <th scope="col">Кол постов</th>
            <th scope="col">Кол лайков</th>
            <th scope="col">Прошел</th>
            <th scope="col">Непрошел</th>
            <th scope="col">Время</th>
            <th scope="col">Инфо</th>
        </tr>
        </thead>
        <tbody>
        {% for post in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ post.user_id }}</td>
                <td>

                    {{ post.username }}

                    {#                    <br>#}
                    {#                    <form action="{% url 'get_username' %}" method="get">#}
                    {#                        <input type="text" name="user_id" value="{{ post.user_id }}" style="display: none">#}
                    {#                        <input type="text" name="hashtag" value="{{ post.hashtag }}" style="display: none">#}
                    {#                        <input type="submit" name="get_username" value="Обновить ник">#}
                    {#                    </form>#}

                <td> {{ post.secondary_user }}</td>
                <td>{% if post.is_bound_shpion %}
                    Да
                {% else %}
                    Нет
                {% endif %}

                </td>
                <td>{{ post.shortcodes.all.count }} <br>{% for shortcode in post.shortcodes.all %}
                    <a href="http://instagram.com/p/{{ shortcode }}">{{ shortcode }}</a><br>{% endfor %}</td>
                <td>
                    {% for shortcode in post.shortcodes.all %} {{ shortcode }} {{ shortcode.count_likes }}
                        <br>{% endfor %}
{#                    <form action="{% url 'get_past_posts' %}" method="get">#}
{#                        <input type="text" name="user_id" value="{{ post.user_id }}" style="display: none">#}
{#                        <input type="text" name="hashtag" value="{{ post.hashtag }}" style="display: none">#}
{#                        <input type="text" name="post_id" value="{{ post.id }}" style="display: none">#}
{#                        <input type="submit" name="get_past_posts" value="Считать лайки">#}
{#                    </form>#}
                </td>
                <td>
                    {#                    {{ post.past_posts }}#}
                    {{ post.past_posts_bound_shpion }}
                </td>
                <td>
                    {#                    {{ post.not_past_posts }}#}
                    {{ post.not_past_posts_bound_shpion }}
                </td>
                <td>
                    {% for shortcode in post.shortcodes.all %} {{ shortcode }} <br>{{ shortcode.time }}
                        <br>{% endfor %}
                </td>
                <td>
                    {% if post.not_past_posts != '0' %}
                        <form action="{% url 'info' %}" method="get">
                            <input type="text" name="user_id" value="{{ post.user_id }}" style="display: none">
                            <input type="text" name="status" value="shpion" style="display: none">
                            <input type="text" name="hashtag" value="{{ post.hashtag }}" style="display: none">
                            <input type="submit" name="info" value="info">
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}